@model Category 

<div class="container mt-5">
    <h2>Category Details</h2>

    <table class="table table-bordered">
        <tr>
            <th>Category Id</th>
            <td>@Model.CategoryId</td>
        </tr>
        <tr>
            <th>Category Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Category Description</th>
            <td>@Model.Description</td>
        </tr>
    </table>

    <a asp-controller="Category" asp-action="Edit" asp-route-id="@Model.CategoryId" class="btn btn-warning">Edit</a>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

